body {
    width:100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* g {
    opacity: .8;
} */

svg {
    opacity: .3;
    width: 50%;
    height: auto;
    position:fixed;
    /* transform-origin: center center; */
    /* top: 20px; */
}